<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="icon" href="~/Images/icon-chat.jpg" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body class="m-0 p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-1">
        @if (Session["Id"] != null)
        {
            <a class="navbar-brand" href="~/">
                <img class="rounded-circle img-login user-photo-nav border border-warning" src="@Session["ImagePath"]" />
            </a>
        }
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                @if (Session["Id"] != null)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item disabled">Sign in as <span class="font-weight-bold text-danger">@Session["Email"].ToString()</span></a>
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Your profile", "YourProfile", "User",new object { },new { @class = "dropdown-item"})
                        </div>
                    </li>
                    <li class="nav-item mx-1 px-2">
                        <span class="nav-link">
                            @Html.ActionLink("Comunications", "ComunicationsPage", "User")
                        </span>
                    </li>
                }
                <li class="nav-item mx-1 px-2">
                    <span class="nav-link">@Html.ActionLink("Home", "Index", "Home")</span>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                @if (Session["Id"] == null)
                {
                    <li class="nav-item mx-1 px-2">
                        <span class="nav-link">@Html.ActionLink("Login", "LoginPage", "Login")</span>
                    </li>
                    <li class="nav-item mx-1 px-2">
                        <span class="nav-link">@Html.ActionLink("Register", "RegisterPage", "Register")</span>
                    </li>
                }
                else
                {
                    <li class="nav-item px-2">
                        <span class="nav-link">
                            <a href="~/Login/Logout">
                                Logout, @Session["FirstName"] <i class="fas fa-sign-out-alt m-1"></i>
                            </a>
                        </span>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="p-4 mt-5 bg-dark text-light text-center">
        <p class="p-0 m-0">&copy; @DateTime.Now.Year - Chat Application</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</body>
</html>
